#main-header {
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
}

.header-home {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
}

.header-logo {
    color: rgba(0, 0, 0, .6);
    display: flex;
}

.header-button {
    display: flex;
}

.button-login {
    background-color: #0038e9fa;
    padding: 10px 15px !important;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
}

.button-login a {
    color: #fff !important;
}

.button-login:hover {
    opacity: .7;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.lg-li {
    display: flex;
    gap: 24px;
    align-items: center;
}

.lg-li li a {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
    display: block;
    position: relative;
    -webkit-transition: opacity .4s ease-in-out, background-color .4s ease-in-out;
    transition: opacity .4s ease-in-out, background-color .4s ease-in-out;
}

.lg-li li a:hover {
    opacity: .7;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.header-logo img {
    width: 50px;
}

.header-logo a {
    display: flex;
    align-items: center;
}

@media (max-width: 420px) {
    .header-logo {
        display: none;
    }
}