@import './base.css';
@import "tailwindcss";
@plugin "daisyui";
@plugin "@iconify/tailwind4";

.container-flur {
    width: 90%;
    max-width: 1400px;
    margin: auto;

}

.container-benefit {
    width: 62%;
    max-width: 1400px;
    margin: auto;
}
